/* You can add global styles to this file, and also import other style files */
.contenedorBotones {
    height: 200px;
    margin: 20px;
    box-shadow: 0px 0px 10px gray;
}

.marginRight {
    margin-right: 10px;
}

.boton {
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}
