<div class="container-fluid pt-5">
    <div class="row">
        <div class="col">
            <div>
                <h1 class="text-center mt-5 mb-5 ">Juego de Preguntas</h1>
            </div>
            <div class="contenedorBotones d-flex align-items-center justify-content-evenly">
                <button class="btn btn-primary" routerLink="jugador"><h1>Soy Jugador</h1></button>
                <button class="btn btn-danger" routerLink="admin"><h1>Soy Administrador</h1></button>
            </div>

        </div>
    </div>
</div>